---
const isProd = import.meta.env.PROD;
const {tagId} = Astro.props;
---
{isProd &&
    <div class='gtm-container'>
        <script type="text/plain" data-required-consent="true" is:inline define:vars={{tagId}}>
            (function(w,d,s,l,i){
                w[l] = w[l]||[];
                w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
                function gtag(){ w[l].push(arguments); }

                const consent = window.localStorage.getItem('10xrules-consent');
                const consentState = consent === 'true' ? 'granted' : 'denied';
                gtag('consent', 'default', {
                    'ad_storage': consentState,
                    'ad_user_data': consentState,
                    'ad_personalization': consentState,
                    'analytics_storage': consentState,
                });
                window.gtag = gtag;

                var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                j.async=true;
                j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer',tagId);
        </script>
    </div>
}