---
import Layout from '../../layouts/Layout.astro';
import AuthLayout from '../../components/auth/AuthLayout';
import UpdatePasswordResetForm from '../../components/auth/UpdatePasswordResetForm';

import { CF_CAPTCHA_SITE_KEY } from 'astro:env/server';
---

<Layout>
  <div class="flex flex-col h-screen max-h-screen bg-gray-950">
    <main class="flex-grow">
      <AuthLayout title="Update Your Password" subtitle="Enter and confirm your new password">
        <UpdatePasswordResetForm client:only="react" cfCaptchaSiteKey={CF_CAPTCHA_SITE_KEY} />
      </AuthLayout>
    </main>
  </div>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
</Layout>
